.cards__item {

    /*position: relative;
    display: flex;
    flex-direction: column;*/
    text-align: center;
    list-style: none;
    width: 240px;
    margin: 0;
    padding: 0;
}

.cards__item:last-of-type{
    margin-right: 340px;
  }
